* {
  margin: 0;
  padding: 0;
}
.header{
  height: 300px;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}
.content{
  height: 200px;
  width: 1000px;
  display: flex;
  justify-content:space-around;
}
.blok{
  height: 200px;
  width: 300px;
}
img{
  max-height: 100%;
  max-width: 100%;
}
.contener{
  height: 500px;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}
.contener_cintent{
  height: 351px;
  width: 600px;
  border: 1px solid black;
}